accelerate==0.28.0
bitsandbytes
black
datasets>=2.16
deepspeed==0.13.1
flash-attn==2.5.6
huggingface_hub[inference]
icecream
jupyterlab
loguru
nvitop
peft==0.10.0
pre-commit
pylint
scipy
sentencepiece
tensorboard
transformers==4.39.3
trl>=0.8
wandb
# torch
